/* style.css */
header {
  background-color: #333;
  padding: 10px 20px;
  margin-top: 20px;       /* ページ上部との隙間 */
  border-radius: 12px;    /* 角を丸くする */
}


.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-list li a:hover {
  text-decoration: underline;
}
