/* style.css */
header {
  background-color: #CCFFCC;
  padding: 10px 20px;
  margin: 20px auto 0;   /* 上は20px、左右は自動で中央寄せ */
  border-radius: 12px;
  width: 800px;           /* 好きな幅に調整 */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}



.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-list li a:hover {
  text-decoration: underline;
}
